body {
    background:white;
}
.box{
    display: inline-block;
    width: 50px;
    margin: 5px;
    padding: 7px;
    border: 1px solid grey;
    text-align: center;
    background-color: palevioletred;
}
.disabled{
    opacity: 0.5;
}
